<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--Chama o template do base.html-->

<head th:replace="~{base :: head}"></head>

<body>
    <div class="container">
        <!--Chama o template do base.html-->
        <aside th:replace="~{base :: menu}"></aside>
        <div class="text">
            Adicionar Produto
        </div>
        <form action="#">
            <div class="form-row">
                <div class="input-data">
                    <input type="text" required>
                    <div class="underline"></div>
                    <label for="">Nome</label>
                </div>
                <div class="input-data">
                    <select name="condicao" id="condicao" required>
                        <option value="" disabled selected hidden></option>
                        <option value="novo">Novo</option>
                        <option value="usado">Usado</option>
                    </select>
                    <div class="underline"></div>
                    <label for="condicao">Condição</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <input type="number" required>
                    <div class="underline"></div>
                    <label for="">Quantidade</label>
                </div>
                <div class="input-data">
                    <input type="text" required>
                    <div class="underline"></div>
                    <label for="">Marca</label>
                </div>
                <div class="input-data">
                    <input type="number" step="0.01" name="quantity" min="0.01" required>
                    <div class="underline"></div>
                    <label for="">Preço Unitario</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data textarea">
                    <textarea rows="8" cols="80" required></textarea>
                    <br />
                    <div class="underline"></div>
                    <label for="">Descrição</label>
                    <br />
                </div>
                <div class="form-row submit-btn">
                    <div class="input-data">
                        <div class="inner"></div>
                        <input type="submit" value="submit">
                    </div>
                </div>
            </div>
        </form>
        <footer th:replace="~{base :: footer}"></footer>
    </div>
    <!--Chama os scripts do menu lateral-->
    <script th:src="@{js/menu.js}"></script>
</body>

</html>
