<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!--Chama o template do base.html-->
<head th:replace="~{base :: head}"></head>

<body>

<div class="wrapper">
    <!--Chama o template do base.html-->
    <aside th:replace="~{base :: menu}"></aside>

    <!--Cria as colunas da tabela-->
    <div class="main expanded p-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-10">
                    <h1 id="home-page" class="pb-3">Produtos em Estoque</h1>
                    <table id="basic-datatable" class="table table-striped" style="width:100%">
                        <thead>
                        <tr class="align-items-center">
                            <th>SKU</th>
                            <th>NOME</th>
                            <th>CONDICAO</th>
                            <th>MARCA</th>
                            <th>PREÇO</th>
                            <th>QTD EM ESTOQUE</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="produto: ${produtos}">
                            <td th:text="${produto.id}"></td>
                            <td th:text="${produto.nome}"></td>
                            <td th:text="${produto.condicao}"></td>
                            <td th:text="${produto.marca}"></td>
                            <td th:text="${produto.preco}"></td>
                            <td th:text="${produto.quantidade}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--Chama o template do base.html-->
        <footer th:replace="~{base :: footer}"></footer>
    </div>
</div>

<!--Chama os scripts do menu lateral-->
<script th:src="@{js/menu.js}"></script>

<!--Cria a tabela com todas as formatações-->
<script>
    $(document).ready(function() {
        $('#basic-datatable').DataTable();
    });
</script>

</body>
</html>